@import './css.css';
$main:#256197;
$second:#ffbf41e0;

%flex_style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
.ResponsiveDrawer-drawerPaper-6{
    background-color: $main;
}
.MuiPaper-root{
    background-color: none;
}
#navmain{
    background-color: $main;
    height: 65px;
}
#login_main{
    @extend %flex_style;
   
}

.Sign_container{
    background-color: $main;
    @extend %flex_style;
    justify-content: unset;
    min-height: 300px;
    min-width: 400px;
    border-radius: 36px;
    border: 1px solid #707070;
}
.up_field{
    width: 100%;
    margin-top: 11%;
    @extend %flex_style; 
}
.down_field{
    height: 90px;
    width: 100%;
    @extend %flex_style; 
    justify-content: flex-end;
  
}

#field1{
    text-align: center;
    color: #707070;
    height: 40px;
    width: 60%;
    border:1px solid #707070;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5%;
    outline: none;
}

#field2{
    text-align: center;
    color: #707070;
    height: 40px;
    width: 95%;
    border: 2px solid #bcb9b9;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    font-weight: 500;
}

#sign_but{
    background-color: $second;
    height: 40px;
    width: 60%;
    border-radius: 10px;
    font-size: 20px;
    line-height: 37px;
    border:1px solid #707070;
    color: #ffffff;
    font-weight: bold;
    outline: none;
}
#sign_but:active{
transform: scale(0.9);
transition: 0.4s;
}
#sign_but:hover{
   cursor: pointer;
    }

#ss{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sarnavimg44{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#p1{
  color: $second;  
  font-weight: bold;
}

.active .sspan{
  
    color: #076acb;

}
.active .sidefect{
    // background-color: #6bbae3;
}
.sspan{
    color:#3B4856;
    padding-left: 20px;
}

a:hover{
    text-decoration: none;
}

#side_img{
    height: 30px;
    width: 30px;
    // border-radius: 300px;
}

.logo-large{
    @extend %flex_style;
}
#main_sec{
    @extend %flex_style;
    width: 100%;  
}
#main_row{
   width: 90%; 
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin-top: 2%;
   margin-bottom: 5%;

}
 #main_row a{
   
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#rightdiv{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
  #sect1{
    @extend %flex_style;
    border: 1px solid #bbc0c4;
    border-radius: 10px;
    box-shadow: 0px 0px 6px #0080ff61;
    height: 40px;
    width: 100%;
    color: #074684;
    margin-top: 3%;
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    text-align: center;
}
#new{
    // border: 1px solid #e9e9e9;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #c2c2c2;
    height: 40px;
    background-color: #56b2bf;
    color: #fff;
    margin-top: 3%;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
#new:hover{
    cursor: pointer;
    border: 2px solid  #56b2bf;
    background-color: #fff;
    color:  #56b2bf;
    transform: scale(1.05);
    transition-duration: .5s;
    transition-timing-function: linear;
    box-shadow: 0 0 5px 1px #ede9e9d1;
}
#new:active {
    border: none;
    background-color: #56b2bf;
    color: #fff;
    transform: scale(1);
    transition-duration: .2s;
    transition-timing-function: linear;
}
.active #sect1{
    background-color: #56b2bf;
    color: #fff;
}
.dataTables_wrapper{
    width: 90%;
}
.pagination {
justify-content: flex-end;
}
table thead{
    background-color: $second;
}
.dataTables_filter{
   display: flex;
   justify-content: flex-end; 
}
.dataTables_filter label{
    width: 50%;
    @extend %flex_style;
   color: #ffffff00;
}
.dataTables_length  label{
    color: #ffffff00;
}
#text{ 
display: none;
}
table thead tr th:nth-child(2){
   width: 200px;
  text-align: center;
}
table thead tr th:nth-child(1){
    width: 200px;
    text-align: center;
  
 }
 table thead tr th:nth-child(3){
    text-align: center;
 }
  table thead tr th:nth-child(4){
    text-align: center;
 }
   table thead tr th:nth-child(5){
    text-align: center;
 }
   table thead tr th:nth-child(6){
    text-align: center;
 }
   table thead tr th:nth-child(7){
    text-align: center;
 }
 table tbody tr td:nth-child(6){
    text-align: center;
 }
 table tbody tr td:nth-child(2){
    text-align: center;
 }
 table tbody tr td:nth-child(4){
     text-align: center; 
 }
  table tbody tr td:nth-child(8){
     text-align: center; 
 }
  table tbody tr td:nth-child(10){
     text-align: center; 
 }
  table tbody tr td:nth-child(12){
     text-align: center; 
 }
  table tbody tr td:nth-child(14){
     text-align: center; 
 }

.MuiTableCell-head {
    color: #0a3866;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    font-size: 18px;
}
.MuiTableCell-body {
    text-align: center;
}

 #new_itemnav{
     height: 60px;
     font-size: 18px;
     background-color: $main;
     color: #fff;
     @extend %flex_style;
 }
 .mod1{
     @extend %flex_style;
    margin-top: 15px;
     
 }
 #mod_btn{
     text-align: right;
    width: 40%;
    height: 40px;
    background-color: #0080ff;
    border: 1px solid #707070;
    border-radius: 30px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    @extend %flex_style;
 }

 #mod_btn:active{
    transform: scale(0.9);
    transition: 0.4s;
    }
    #mod_btn:hover{
       cursor: pointer;
        }
#del{
    color: #d94848;
    font-size: 18px;
}
#edit{
    color: #22619f;
    font-size: 18px;
}
#edit:hover,#del:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.📦color_234361 {
    color: #ffffff;
}
.📦algn-itms_center {
    align-items: center;
    -webkit-box-align: center;
    text-align: center;
    // background-color: #0080ff;
}
.MuiAppBar-root{
    z-index: 9;
}

.📦mt_12vmin {
    margin-top: 27vmin;
}
.📦pt_16px {
     padding-top: 0px; 
     padding-left: 0px;
     padding-right: 0px;
}

.📦b-top_1px-solid-EDF0F2 {
    border-top: 1px solid #EDF0F2;
    padding-right: 10px;
    padding-top: 10px;
}

.MuiTableCell-root {
    font-family: 'Cairo', sans-serif;
    border-right: 1px solid rgba(224, 224, 224, 1);
 
}
#out{
    border: 2px solid #076acb;
    height: 40px;
    width: 60%;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    color: #0a3866;
    font-weight: 600;
    @extend %flex_style;
}
#out:hover{
cursor: pointer;
background-color: #076acb;
color: #fff;
}

#noti_main{
    @extend %flex_style;
    border: 2px solid #eceaea;
    width: 100%;
    border-radius: 20px;  
}
#noti_first{
   
    border: 2px solid #eceaea;
    min-height: 160px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: #F1F1E6;
    box-shadow: 0px 0px 7px #e7e7df;  
}
#noti_titil{
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: space-between; 
   padding: 20px;
  
}
#not_text{
    font-size: 18px;
    font-weight: 600;
   color: #a7302c;
   text-align: center;
}
.noti_body{
    @extend %flex_style;
    width: 100%;
}
#noti_body{
   
    min-height: 100px;
    width: 90%;
    border-radius: 5px; 
    text-align: center;
    padding-top: 5px;
    font-size: 16px;
    direction: rtl;
}
#card_main1{
    @extend %flex_style;
    border: 2px solid #0784795c;
    width: 100%;
    border-radius: 5px;
    min-height: 160px;
    background-color: #f0f6f4;
    margin-bottom: 20px;
    box-shadow: 3px -3px 2px 1px #9ccdc8;
}
#card_titil{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 88%;
}
#card_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 15px;
}
#item_text{
    font-size: 16px;
    font-weight: 600;
    color: #455a64;
    padding-right: 15px;
    display: flex;
    flex-direction: row-reverse;
}
#item_textm1{
    font-size: 20px;
    font-weight: 600;
    padding-right: 15px;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 95%;
    text-align: center;
}
#line{
    height: 3px;
    border-bottom: 2px solid #cdcfd1;
    width: 100%;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px
}
#kitchen_field{
    width: 70%;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 2px #b4b1b1;
    border: none;
    height: 33px;
    direction: rtl;
    background: none;
    text-align: center;
}

#div_kitch{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    align-items: center;
    margin-bottom: 20px;
}

#kitchen_botn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#add{
    width: 50%;
    height: 35px;
    background-color: $second;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
    box-shadow: 0px 0px 3px 1px #cacaca;
}

#add:hover{
    cursor: pointer;
    border: 2px solid  #ffbf41;
    background-color: #fff;
    color:  $second;
    transform: scale(1.05);
    transition-duration: .5s;
    transition-timing-function: linear;
    box-shadow: 0 0 5px 1px #ede9e9d1;
    font-weight: 600;
}
#add:active {
    border: none;
    background-color: $second;
    color: #fff;
    transform: scale(1);
    transition-duration: .2s;
    transition-timing-function: linear;
}
#pass_use:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.progress-bar {
background-color:#56b2bf;

}
#infoss{
        box-shadow: 0px 0px 3px 2px #56b2bf;
    width: 50%;
    cursor: pointer;
    height: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2efef;
}